/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */

/* and above unless overwritten below */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');


/*  Pseudo class for variable declarations */
:root {
  --main-bg-color: #222629;
  --second-bg-color: #2a2f32;
  --main-accent-color: #a2f237;
  --main-text-color: #fff;
  --secondary-text-color: rgb(178,182,181);
}

/* Add smooth scrolling to entire page */
html {
  scroll-behavior: smooth;
}

body {
  background: var(--main-bg-color);
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  text-transform: uppercase;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "head"
    "nav"
    "content"
}

/*
  Theme reused elements
*/
a {
  color: var(--secondary-text-color);
  text-decoration: none;
}
a:hover {
  color: var(--main-accent-color);
  border-bottom: 1px dotted var(--main-text-color);
}
h2,
h3 {
  color: var(--secondary-text-color);
}

/*
  Header section
*/
header {
  grid-area: head;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--second-bg-color);
}

header h1 {
  color: var(--main-text-color);
}

/*
  Burger bar
*/
.burger {
  display: flex;
  flex-direction: column;
  align-content: center;
  cursor: pointer;
  animation: fade-in 1s ease-in-out;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 2.5px;
  background-color: var(--main-accent-color);
  transition: all .25s ease-in;
}

.toggle .line1 {
  transform: rotate(45deg) translate(0px, 11px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(-45deg) translate(0px, -11px)
}

/* 
  Nav Section 
*/
nav {
  grid-area: nav;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.main-nav li {
  text-align: right;
  text-decoration: none;
}

.active {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  animation: slide-down 1s;
}

main {
  grid-area: content;
}

.inner-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.project {
  border: 1px solid #050404;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.project-image {
  width: 100%;
}

.project-details {
  display: flex;
  flex-direction: column;
  flex: 1; 
}

.project-details a {
  text-transform: uppercase;
  text-decoration: none;
  color:rgb(170, 10, 10);
}

.skill {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form-container label {
  margin: .3em 0 .1em 0;
}

.input-box {
  padding: .5em;
}

.form-container input {
  background-color: white;
  text-align: left;
}

.form-container textarea {
  /* removes users ability to resize the textarea */
  resize: none;
  height: 6em;
  margin-bottom: .3em;
}



section {
  text-align: center;
}

.about-me {
  line-height: 1.8;
}

.project-image img{
  height: 10em;
  width: 100%;
  opacity: .35;
  transition: opacity .75s;
}

.project-image img:hover {
  opacity: 1;
}

.project-name {
  position: absolute;
  top: 7.5em;
  left: 0;
  padding: .5em;
  background-color: #ff4842;
  text-transform: uppercase;
}

.skill-bar{
  text-align: left;
	background-color:grey;
	margin:.5em;
	padding: 0;
}

.skill-bar span{
  float: right;
}

.btn-scroll {
  display: none;
  z-index: 10;
  position: fixed;
  padding: .2em;
  right: 2em;
  bottom: 1em;
  cursor: pointer;
  opacity: .3;
  transition: opacity 1s;
}

.btn-scroll:hover {
  opacity: 1;
}

.fa-arrow-up {
  font-size: 2.5em;
}


/* Animations */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

dialog {
  z-index: 1;
  position: fixed;
}

.close {
  color: lightgray;
  font-size: 1.4em;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */
  .burger {
    visibility: hidden;
  }

  nav {
    flex-direction: row;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .inner-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
  }

  .form-container {
    flex-direction: column;
    align-items: center;
  }

  .input-box {
    width: 60%;
  }

  .form-container textarea {
    height: 10rem;
  }

  .fa-arrow-up {
    font-size: 3em;
  }
}

/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */
  .inner-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
  }

  .input-box {
    width: 55em;
  }
}